black
datasets
evaluate
flake8
ipython
ipykernel
ipywidgets
isort
jupyterlab
loguru
loralib
matplotlib
notebook
# numpy < 2 # must install transformers with conda if we want a newer numpy
# pandas
peft
pip
pytest
python-dotenv
rouge_score
# scikit-learn
# torch
# torchdata
tqdm
transformers
typer
-e .
